name: Spring Boot CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar JDK 25.0.2
        uses: actions/setup-java@v4
        with:
          java-version: '25.0.2'
          distribution: 'temurin'
          cache: 'maven'

      - name: Dar permissão de execução ao Maven Wrapper
        run: chmod +x ./mvnw

      - name: Rodar Testes e Build
        run: ./mvnw clean verify
